.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #8303eb4b 0%, #0728cf 100%);
}

.form {
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form input, .form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form button {
    background-color: #fc5c7d;
    color: white;
    cursor: pointer;
}

.form button:hover {
    background-color: #eb4c6f;
}
